<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <p>nav</p>
        </nav>
    </header>

    <main>
        <section>
            <div id="ms01" class="content">
                <h3>Nodejs / npm 버전확인</h3>
                <ul>
                    <li>기존 웹 작업 관련해서 설치함에 따라 버전확인만 진행</li>
                    <li>아래 이미지 참조</li>
                </ul>
                <img src="../resources/img/ReactEx/01/node_npm.png" alt="nodejs/npm -v">
            </div>
            
            <div id="ms02" class="content">
                <h3>yarn 설치 및 버전확인</h3>
                <ul>
                    <li>yarn은 npm의 단점을 보안 역활</li>
                    <li>속도 개선 및 보안 우세</li>
                    <li>최근 들어선 속도도 고만고만하다 한다.</li>
                    <li>불필요하다 생각하면 생략가능</li>
                    <li>아래 이미지 참조</li>
                </ul>
                <img src="../resources/img/ReactEx/01/yarn.png" alt="">
            </div>

            <div id="ms03" class="content">
                <h3>CRA (Create React App) 생성</h3>
                
                <ul>
                    <li>React 개발환경을 yarn 셋팅 도구</li>
                    <li> ( 사용하지 않는다면, 프로젝트에 필요한 패키지를 수기로 package.json에 추가해야 한다.)</li>
                    <li>아래 이미지 참조</li>
                </ul>
                <div>
                    <h4>Log</h4>
                    <h5>(22.05.09) yarn Err</h5>
                    <ul>
                        <li> 첫 시도는 실패하였다. 아마도 이름에 대문자를 넣어서 실패한듯으로 추정한다.</li>
                        <img src="../resources/img/ReactEx/01/yarn_create_err01.png" alt="longer failed">

                        <li> package.json 파일을 찾을 수 없어서 err 발생</li>
                        <li> yarn '패키지 관련 모듈' 로는 공부 진행이 어려울 것으로 예상</li>
                        <img src="../resources/img/ReactEx/01/yarn_create_err02.png" alt="package.json failed">

                        <li>차후 도전 예정 일단 보류</li>
                    </ul>

                    <h5>(22.05.09) npm(npx) Success</h5>
                    <ul>
                        <li> npm으로 진행</li>
                        <li> npm 이 지원하는 CLI 도구 'npx' 사용</li>
                        <li> CLI (Command Line Interface) : 마이크로소프트사에서 개발한 확장 가능한 명령어 기반 인터페이스 </li>
                        <img src="../resources/img/ReactEx/01/npm_npx_create_success.png" alt="npx success">
                        <img src="../resources/img/ReactEx/01/success_view.png" alt="success view">
                    </ul>
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <section>
            <div>
                <h2>참고 사이트</h2>
                <ul>
                    <li><a href="https://ko.reactjs.org/">React Site (React 사이트)</a></li>
                    <li><a href="https://goddaehee.tistory.com/293">갓대희의 작은공간 (yarn 초기셋팅 참고 사이트)</a></li>
                    <li><a href="https://kyung-a.tistory.com/16">kyung-a tistory 사이트 (npm 초기셋팅 참고 사이트)</a></li>
                    <li><a href="https://brunch.co.kr/@eight-two-five/151">VSCode React 확장 및 초기 셋팅 관련 사이트</a></li>
                </ul>
            </div>
        </section>
    </footer>
</body>
</html>